body{
	font-family: 'Kanit', sans-serif !important;
    overflow-x: hidden;
}
/*
    main color: #29004f
*/
/*=================================================================
===========   Global Properties
===================================================================*/
.content-padding{
    padding: 60px 0px ;
    position: relative;
}
.content-title-underline{
    width: 60px;
    height: 4px;
    border-radius: 5px;
    background-color: #29004fd2 !important;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 15px;
}
.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
body::-webkit-scrollbar ,
body::-webkit-scrollbar {
    background-color:#6c757d36;
    width:5px;
    right: -10px
}
body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb{
    background-color:#29004f;
    border-radius:8px;
    right: -10px
}

/*=================================================================
===========  Navbar 
===================================================================*/
nav.navbar{
    position: fixed;
    width: 100%;
    top: 0px;
    transition: all 0.3s ease-in-out;
    background-color: #fff ;
	z-index: 99999999999999;
	height: 55px;
}
nav.navbar{
	background-color: transparent ;
}
.navbar-brand img{
    height: 40px;
}
.navbar-nav.ml-auto{
	padding-left: 7px;
}
nav.navbar .container{
    padding-right: 0px;
    padding-left: 0px;
}
nav.navbar a{
    margin: 0px 10px;
    position: relative;
	transition: all ease-in-out 0.3s;
}
nav.navbar a , 
nav.navbar .navbar-toggler{
	color: #fff;
}
/*====== nav sticky ========*/
nav.navbar.sticky{
    box-shadow: 0px 0px 2px 2px #717171cc;
    background-color : #fff
} 
nav.navbar.sticky a{
    color: #29004f;
} 
nav.navbar.sticky .navbar-toggler{
    color: #29004f;
}
/*=================================================================
===========  Home Header 
===================================================================*/
#home-header{
    background-image: url("../images/home_bg.jpg");
    width: 100%;
    height: 100vh;
}
#home-header .info{
    padding-top: 10rem;
    color: #fff;
}
#home-header .info a{
    border-radius: 20px;
    padding: 8px 15px;
}
/*=================================================================
===========  Header 
===================================================================*/
#header{
    background-image: url("../images/bg.jpg");
    width: 100%;
    height: 400px;
}
/*===================================================================
============ Services
====================================================================*/
#services h2 i{
    color: #29004f;
}
 #services .icon{
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    box-shadow: 14px 4px 7px -4px #29004f40;
    border: 1px solid #29004f1a;
}
 #services .box {
	min-height: 270px;
    margin: 35px 0px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 4px 18px 1px #d8d8d859;
}
 #services .box img{
    width: 35px;
}
 #services .box h3{
    margin: 10px 0px;
    color: #1b1b1b;
}
 #services .box p {
    line-height: 18px;
    color: #484848ab;
    font-size: 14px;
}
/*=================================================================
===========  Clients
===================================================================*/
#clients i {
    color: #29004f;
}
#clients-logo img {
    cursor: pointer;
    height: 2.5rem;
    margin: 30px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .5;
    -o-transition: .5s ease;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
}
#clients-logo img:hover{
    filter: grayscale(0%);
    opacity: 1
}

/*=================================================================
===========  testmoilas
===================================================================*/
#testmoilas h2 i{
	color: #29004f !important;
}
#testmoilas #demo {
    background: linear-gradient(110deg, #f8fafc 50%,  #29004f7a);
    max-width: 900px;
    margin: auto
}
#testmoilas .carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color:  #29004fcc;
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem
}
@media(max-width:767px) {
    #testmoilas .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: #29004fcc;
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }
}
#testmoilas .carousel-caption img {
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem
}
@media(max-width:767px) {
    #testmoilas .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem
    }
}
#testmoilas  #image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem
}
@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem
    }
}
#testmoilas #demo i{
    background-color: #29004fcc;
    padding: 1.4rem
}
@media(max-width:767px) {
    #testmoilas i {
        padding: 0.8rem
    }
}
#testmoilas .carousel-control-prev {
    justify-content: flex-start
}
#testmoilas .carousel-control-next {
    justify-content: flex-end
}
#testmoilas .carousel-control-prev,
#testmoilas .carousel-control-next {
    transition: none;
    opacity: unset
}

/*=================================================================
===========  stats 
===================================================================*/
#stats{
	width: 100%;
    padding: 40px 0px;
    background-image: linear-gradient( to right , #38125b , #5e3f78  ) ;
}
#stats p{
    color: #fff;
    font-size: 22px;
	margin-bottom: 0px;
}
#stats p i {
	font-size: 40px;
}
/*=================================================================
===========  skillset 
===================================================================*/
#skillset{
    padding: 60px 0;
}
#skillset h2{
    color: #29004f;
}
#skillset p {
    font-size: 14px;
    color: #626262;
}
/*=================================================================
===========  footer 
===================================================================*/
#footer{
    background-image: url("../images/footer.jpg");
    min-height: 500px;
    color: #fff;
    padding-top: 180px;
}
#footer .box ul li{
	margin-top: -7px;
}
#footer .box ul li a {
    color: #fff;
    text-decoration: underline;
}
#footer .box ul li  span{
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
    margin-left: -10px;
    padding: 2px;
    font-size: 14px;
}
#footer .company-content{
	font-size: 12px;
}
#footer ul.social-media li {
    margin: 0px 10px ;
    display: inline-block;
}
#footer ul.social-media li i {
    font-size: 24px;
    color: #fff;
}
#footer ul.social-media li:nth-of-type(1){
    margin-left: 0px;
}
/*=================================================================
===========  copyright 
===================================================================*/
#copyright {
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #030303;
}
#copyright i {
    color: #ff0000;
}
/*=================================================================
===========  absolute-icons 
===================================================================*/
#absolute-icons .fa-arrow-alt-circle-up{
    z-index: 999999999;
    cursor: pointer;
    color: #29004f;
    font-size: 50px;
    position: fixed;  
    bottom: 10%;
    right: 2%;  
    opacity: 0;
    transition: all ease-in-out 0.3s
}
.contact-icons{
    z-index: 999999999;
    position: fixed;  
    bottom: 8%;
    left: 2%;  
}
.contact-icons a{
    display: block;
    margin: 20px 0px;
    
}
.contact-icons a img{
    width: 40px;
}
/*====== Responsive ========*/
@media (max-width: 576px) {
    #absolute-icons .fa-arrow-alt-circle-up { 
        font-size: 35px;
    }
    #absolute-icons .fa-arrow-alt-circle-up img{
        width: 30px;
    }
}
/*=================================================================
===========  register 
===================================================================*/
#register #form{
	margin-top: -250px;
	margin-bottom: 150px;
}
#register #form .form-inner{
	padding: 15px;
	border-radius: 7px;
    box-shadow: 0px 0px 10px 1px #bebebed9;
	background-color: #fff;
	margin: 0px auto;
	max-width: 450px;
}
#register #form .title{
	font-size: 22px;
	text-align: center;
}
#register #form .content-title-underline{
    margin-bottom: 25px;
	margin-top: -10px;
}
#register #form .form-inner .form-control{
	border-radius: 10px;
}
#register #form .form-inner label{
	margin-bottom: 5px;
	margin-left: 5px;
}
#register #form .form-inner i{
	color: #29004fcc;
}