/*=================================================================
===========   Global Properties
===================================================================*/
body{
    background-color: #f9fafc;
    overflow-x: hidden;
    font-family: 'Kanit', sans-serif !important;
}
.content-padding{
    padding: 60px 0px ;
    position: relative;
}
.content-title-underline{
    width: 60px;
    height: 4px;
    border-radius: 5px;
    background-color: #29004fd2 !important;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 15px;
}
.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
body::-webkit-scrollbar ,
body::-webkit-scrollbar {
    background-color:#6c757d36;
    width:5px;
    right: -10px
}
body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb{
    background-color:#29004f;
    border-radius:8px;
    right: -10px
}
