/*=================================================================
===========   Buttons
===================================================================*/      
.btn{
    box-shadow: none !important;
    &.btn-purple{
        color: #fff !important;
        background: #29004f !important;
        border-color: #29004f;
        &:hover{
            color: #29004f !important;
            background: transparent !important;
            border-color: #29004f !important;
        }
    }
}
