

#sidebar {
  min-width: 270px;
  max-width: 270px;
  background: #29004f;
  color: #fff;
  transition: all 0.3s;
  position: relative;
  .h6{
  	color: #fff;
  }
  &.active{
  	margin-left: -270px;
  }
  h4{
  	margin-bottom: 20px;
  	font-weight: 700;
      font-size: 28px;
  	.logo{
  		color: #fff;
  		span{
  			font-size: 14px;
  			color: #aaaaaa;
  			display: block;
  		}
  	}
  }
  ul.components{
  	padding: 0;
  }
  ul{
    li{
    	font-size: 16px;
    	>ul{
    		margin-left: 10px;
    		li{
    			font-size: 14px;
    		}
    	}
    	a{
    		padding: 10px 0;
		    display: block;
		    color: rgba(255,255,255,.6);
		    border-bottom: 1px solid rgba(255,255,255,.1);
		    span{
		    	color: #aaaaaa;
		    }
		    &:hover{
		    	color: #fff;
		    }
			i{
				padding-right: 12px;
			}
    	}
    	&.active{
    		> a{
    			background: transparent;
    			color: #fff;
    		}
    	}
    }
  }
  @media (max-width: 991.98px) {
    margin-left: -270px;
    &.active {
        margin-left: 0;
    }
  }

  .custom-menu{
		display: inline-block;
		position: absolute;
		top: 20px;
		right: 0;
		margin-right: -20px;
        transition: .3s all ease;
		.btn{
			width: 60px;
			height: 60px;
			border-radius: 50%;
			position: relative;
			i{
				margin-right: -50px;
				font-size: 28px;
				margin-top: 16px;
			}
			&.btn-primary{
				background: transparent;
				border-color: transparent;
				&:after{
					z-index: -1;
					position: absolute;
					top: -10px;
					left: -20px;
					right: -20px;
					bottom: -20px;
					content: "";
				  transform: rotate(45deg);
				  background: #29004f;
				  border-radius: 10px;
				}
				&:hover, &:focus{
					background: transparent !important;
					border-color: transparent !important;
				}
			}
		}
  }
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

#sidebarCollapse{
	span{
        @media (max-width: 991.98px) {
            display: none;
		}
	}
}

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  transition: all 0.3s;
}




