/*=================================================================
===========   Table
===================================================================*/
.table-responsive{
    
    margin-bottom: 40px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgb(0 0 0 / 15%);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);

    .table{
        margin-bottom: 0;
    }
    .thead-light{
        tr{
            background-color: #29004f;
            color: #fff;
            th{
                background-color: transparent;
                color: #fff;
                text-transform: uppercase;
            }
        }

    }
    tbody{
        background-color: #fff;
        .fa-circle-xmark{
            font-size: 35px;
        }
        .table-buttons{
            button{
                color: #fff;
                border-radius: 50%;
                padding: 9px 10px
            }
        }
    }
    .buttons{
        background-color: #fff;
        position: relative;
        width: 100%;
        a{
            color: #fff !important;
            border-radius: 3px;
            margin: 15px 0px;
            &:hover{
                color: #29004f !important;
                background-color: #fff !important;
                box-shadow: 0 0px 40px 0px rgb(0 0 0 / 15%) !important;
                border: 1px solid #29004f;
            }
        }
    }
}