/*=================================================================
===========   Company info
===================================================================*/
#company-info{

    h3 {
        i{
            color: #29004f;
        }
    }
    p{
        color: #595959;
        line-height: 1.3;
    }

}