/*===================================================================
============ Services
====================================================================*/
#services{  
    h2 i{
        color: #29004f;
    }
    .icon{
        border-radius: 50%;
        display: inline-block;
        padding: 10px;
        box-shadow: 14px 4px 7px -4px #29004f40;
        border: 1px solid #29004f1a;
    }
    .box {
        min-height: 300px;
        margin: 35px 0px;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 2px 4px 26px 1px #d1d1d1;
        img{
            width: 35px;
        }
        h3{
            margin: 10px 0px;
            color: #1b1b1b;
        }
        p {
            line-height: 18px;
            color: #484848ab;
            font-size: 14px;
        }
    }
}
