
/*=================================================================
===========  skillset 
===================================================================*/
#skillset{
    padding: 60px 0;
}
#skillset h2{
    color: #29004f;
}
#skillset p {
    font-size: 14px;
    color: #626262;
}