
/*=================================================================
===========  skillset 
===================================================================*/
#skillset{
    padding: 60px 0;
    h2{
        color: #29004f;
    }
    p {
        font-size: 14px;
        color: #626262;
        .view-work{
            text-decoration: underline;
            font-size: 18px;
            color: #29004f;
            display: block;
        }
    }
}