// Fonts
@import url("https://fonts.googleapis.com/css?family=Kanit");
@import url("https://fonts.googleapis.com/css2?family=Hubballi");
// Bootstrap
// @import '~bootstrap/scss/bootstrap';   // import bootstrap laravel packags
@import "../../css/bootstrap";

/*=================================================================
===========   Global Properties
===================================================================*/
body{
    #app.admin-view{
        a {
            transition: .3s all ease;
            color: #9f9fa0;
            &:hover, &:focus {
                text-decoration: none !important;
                outline: none !important;
                box-shadow: none;
            }
        }
        h1, h2, h3, h4, h5,
        .h1, .h2, .h3, .h4, .h5 {
            line-height: 1.5;
            font-weight: 400;
            color: #000;
        }
        .table-heading{
            h4 i{
                color: #29004f;
            }
            button{
                border-radius: 30%;
            }
        }
        .ftco-section{
            padding: 7em 0;
        }
        .ftco-no-pt{
            padding-top: 0;
        }
        .ftco-no-pb{
            padding-bottom: 0;
        }
        // Modal Get Info
        .modal-footer{
            border: none !important;
        }
        .get_info{
            position: relative;
            hr{
                width: 90%;
            }
            .heading{
                i{
                    color: #29004f;
                }
                margin: 0px;
                color: #000;
                display: inline;
            }
            .text{
                color: #7f7f7f;
            }
            .fa-circle-question{
                font-size: 25px;
                position: absolute;
                left: 90px;
                color: #ce3c18;
                top: 0;
            }
        }
        //HEADING SECTION
        .heading-section{
            font-size: 28px;
            color: #000;
            small{
                font-size: 18px;
            }
        }
        //COVER BG
        .img{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
        //SIDEBAR
        .wrapper {
          width: 100%;
        }
        
        
        

        /*========= components =========*/
        @import './components/sidebar';
        @import './components/table';
        @import './components/buttons';
        /*========= Layouts =========*/
        @import './layout/dashboard';
        @import './layout/users';


        
    }
	
}
