.btn{
    padding: 7px 15px;
    border-radius: 25px;
    color: #fff ;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.295) !important;
    i{
        transition: all 0.3s ease-in-out;
        color: #fff;
    }
    &.purple{
        background-color: #29004f;
        &:hover{
            background-color: transparent;
            color: #29004f;
            border: 1px solid #29004f;
            i{
                color: #29004f;
            }
        }
    }  
    &.cancle{
        background-color: #dc3545;
        &:hover{
            background-color: transparent;
            color: #dc3545;
            border: 1px solid #dc3545;
            i{
                color: #dc3545;
            }
        }
    }  
    &.green{
        background-color: #00b04e;
        &:hover{
            background-color: rgba(0, 146, 66);
            color: #fff;
            color: #00b04e;
        }
    } 
}