
/*=================================================================
===========  copyright
===================================================================*/
#copyright {
    position: absolute;
    width: 100%;
    color: #fff;
    bottom: 0px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #030303;
    i {
        color: #ff0000;
    }
}
