/*=================================================================
===========  ddslick 
===================================================================*/
#myDropdown {
    width: 100% !important;
    background-color: transparent !important;

    .dd-option-image,
    .dd-selected-image {
        float: none;
    }
    
    .dd-options {
        width: 100% !important;
    }
    .dd-select {
        width: 100% !important;
        background-color: transparent !important;
        border-radius: 5px !important;
    }
    label.dd-option-text , label.dd-selected-text {
        line-height: normal !important;
        font-weight: normal !important;
        margin-bottom: 0rem !important;
    }

    img{
        height: 30px !important;
    }

    ul.dd-options li:nth-of-type(1){
        display: none;
    } 
}