
/*=================================================================
===========  footer 
===================================================================*/
#footer{
    background-image: url("/images/footer.jpg");
    min-height: 500px;
    color: #fff;
    padding-top: 180px;
    .box ul li{
        margin-top: -7px;
        a {
            color: #fff;
            text-decoration: underline;
        }
        span{
            background-color: #28a745;
            color: #fff;
            text-decoration: none;
            border-radius: 2px;
            margin-left: -10px;
            padding: 2px;
            font-size: 14px;
        }
    }
    .company-content{
        font-size: 12px;
    }
    ul.social-media li i {
        font-size: 24px;
        color: #fff;
    }
    &ul.social-media li:nth-of-type(1){
        margin-left: 0px;
    }
    ul.social-media li {
        margin: 0px 10px ;
        display: inline-block;
    }
}
/*================== Responsive =================*/

@media(max-width:991px){
    #footer{
        background-image: url("/images/footer2.jpg");
        height: auto;
        padding-top: 40px;
    }
}