/*=================================================================
===========  vertical-tabs 
===================================================================*/
#vertical-tabs{
    .nav-pills-custom .nav-link {
        cursor: pointer;
        color: #aaa;
        background: #fff;
        position: relative;
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color: #29004fd0;
            color: #fff;
        }
        &.active {
            background-color: #29004fd0;
            color: #fff;
            &:before {
                opacity: 1;
            }
        }
        &.logout{
            &:hover{
                background-color: #b80101d0;
                color: #fff;
            }
        }
    }
    .tab-content{
        .tab-pane{
            min-height: 500px;
        }
    }
    h4 i {
        color: #29004f
    }
    div.tab-pane{
        padding: 20px !important
    }
    /* Add indicator arrow for the active tab */
    @media (min-width: 992px) {
        .nav-pills-custom .nav-link::before {
            content: '';
            display: block;
            border-top: 8px solid transparent;
            border-left: 10px solid #29004fd0;
            border-bottom: 8px solid transparent;
            position: absolute;
            top: 50%;
            right: -10px;
            transform: translateY(-50%);
            opacity: 0;
        }
        div.tab-pane{
            padding: 40px !important
        }
    }

}