#dashboard-page{
    h4{
        i{
            color: #29004f;
        }
    }

    .card{
        span{
            text-transform: uppercase;
            color: #a1a1a1;
            font-size: 14px;
        }
    }

}